@import './theme.css';
@import './prose.css';
@import './article-layout.css';

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/Uncut-Sans-Variable.woff2') format('woff2-variations');
  font-style: normal italic;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Newsreader';
  src: url('/fonts/Newsreader-Variable.woff2') format('woff2-variations');
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Newsreader';
  src: url('/fonts/Newsreader-Italic-Variable.woff2') format('woff2-variations');
  font-style: italic;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/fonts/AzeretMono-VariableFont_wght.woff2') format('woff2-variations');
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/fonts/AzeretMono-Italic-VariableFont_wght.woff2') format('woff2-variations');
  font-style: italic;
  font-display: block;
  font-weight: 100 900;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-fg;
  opacity: 0.75;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 8px;
  @apply shadow-current shadow-lg;
}

::selection {
  @apply bg-surface;
}

* {
  scrollbar-color: rgba(var(--colors-fg), 0.5) rgb(var(--colors-bg));
}

html {
  @apply bg-fg mx-auto min-h-screen max-w-9xl antialiased;
}

@screen 2xl {
  html {
    @apply bg-bg;
  }
}

body {
  @apply bg-bg flex flex-col font-Uncut min-h-screen font-475 text-fg text-base transition-colors ease-out duration-500 delay-25 overflow-x-hidden xl:text-lg;
  font-variation-settings: 'slnt' 0;
}

h1 {
  @apply font-Uncut font-625 text-fg text-3xl -tracking-0.04em lg:text-4xl;
  font-variation-settings: 'slnt' 0;
}

h2 {
  @apply font-Uncut font-600 text-fg text-xl -tracking-0.03em lg:text-2xl;
  font-variation-settings: 'slnt' 2;
}

h3 {
  @apply font-Uncut font-555 text-fg text-lg -tracking-0.02em lg:text-xl;
  font-variation-settings: 'slnt' 0;
}

h4 {
  @apply font-Uncut font-500 text-fg text-lg -tracking-0.02em;
  font-variation-settings: 'slnt' 0;
}

a {
  @apply attr;
}

code {
  @apply bg-surface rounded font-Azeret font-600 -my-1 text-fg p-1 text-0.8em;
}

kbd {
  @apply bg-surface rounded font-Azeret border-b-2 border-fg-secondary/30 border-x-1 border-t-1 font-650 text-sm leading-none py-1 px-1.5 inline-block;
}
