@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/Uncut-Sans-VF.woff2') format('woff2-variations');
  font-style: normal italic;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2-variations');
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
  font-feature-settings: 'ss02', 'ss03';
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2-variations');
  font-style: italic;
  font-display: block;
  font-weight: 100 900;
  font-feature-settings: 'ss02', 'ss03';
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/fonts/AzeretMono-VariableFont_wght.woff2') format('woff2-variations');
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/static/fonts/AzeretMono-Italic-VariableFont_wght.woff2') format('woff2-variations');
  font-style: italic;
  font-display: block;
  font-weight: 100 900;
}

:root {
  --colors-bg: #e7e7e7;

  --colors-fg: #321913;
  --colors-fg-secondary: #684f48;
}

.dark {
  --colors-bg: #1f1f1f;

  --colors-fg: #fef5f1;
  --colors-fg-secondary: #999;
}

body {
  @apply bg-bg text-fg-secondary font-Satoshi font-feature;
}

h1 {
  @apply font-Uncut text-fg text-4xl;
  font-variation-settings: 'wght' 650;
  font-feature-settings: normal;
}

h2 {
  @apply font-Uncut text-fg text-2xl;
  font-variation-settings: 'wght' 600;
  font-feature-settings: normal;
}

h3 {
  @apply font-Uncut text-fg text-xl;
  font-variation-settings: 'wght' 550;
  font-feature-settings: normal;
}
