.prose section {
  --uno: not-first:(mt-10 lt-sm:mt-6);
}

.layout-center > article > section {
  --uno: gap-x-10 items-baseline md:grid md:grid-cols-[1fr_40rem_1fr] children:col-start-2;
}

.layout-center.loose > article > section {
  --uno: my-40 lt-sm:my-20;
}

.layout-center > article > section > figure {
  --uno: justify-self-center mt-6 lg:w-11/10 xl:(mt-10 col-start-2);
}

.layout-center > article > section > figure[full='true'] {
  --uno: rounded-lg my-10 col-span-full col-start-1 justify-self-center sm:my-10 lg:w-8/10 xl:my-20;
}

.layout-center > article > section > grid {
  --uno: block sm:(grid grid-cols-2 gap-x-10);
}

.layout-center > article > section > gallery {
  --uno: mt-10 col-start-1 col-span-full grid grid-cols-2 gap-6 px-20;
}

.layout-center > article > section > carousel {
  padding: 2rem calc((100vw - 40rem) / 2);
  scrollbar-width: none;
  --uno: mt-10 col-start-1 col-span-full flex gap-6 overflow-x-auto children:(shrink-0);
}

.layout-center > article > section > carousel::-webkit-scrollbar {
  display: none;
}

.layout-center > article > section > carousel > figure > :first-child {
  --uno: h-112;
}
