@import './theme.css';
@import './prose.css';
@import './type.css';

/* * {
  --uno: 'outline-1 outline-blue outline-solid';
} */

/* 
 * Base layout styles
 */

html {
  --uno: 'bg-bg antialiased';
  --uno: 'min-h-100vh';
}

::selection {
  --uno: 'text-fg';
  background-color: oklch(var(--select));
}

body {
  --uno: 'min-h-100vh';
  --uno: 'text-fg-muted text-3.75 leading-7 font-sans';
  --uno: 'p-4';

  /* Main grid layouts */
  --uno: 'grid grid-cols-8 gap-x-4 items-baseline';
  /* header, main, footer */
  grid-template-rows: min-content min-content 1fr;

  word-spacing: -0.02em;
  letter-spacing: -0.015em;
  text-rendering: optimizeLegibility;
}

header {
  --uno: 'col-span-full mb-12';

  /* Subgrid */
  &,
  nav {
    --uno: 'grid grid-cols-subgrid';
  }

  nav {
    --uno: 'col-start-3 col-end--1';
  }

  ul {
    --uno: 'flex gap-6';
  }

  a {
    --uno: 'decoration-none';
  }
}

main {
  /* Subgrid */
  --uno: 'md:(col-span-full grid grid-cols-subgrid mb-30)';

  > :not(article) {
    --uno: 'md:(col-start-3 col-span-3)';
  }

  /* Subgrid */
  > article {
    --uno: 'md:(col-span-full grid grid-cols-subgrid items-baseline)';
    --uno: 'md:children:(col-start-3 col-span-3)';
  }
}

footer {
  --uno: 'text-xs text-fg-subtle';
  --uno: 'col-start-1 col-span-full self-end';

  /* Subgrid */
  --uno: 'grid grid-cols-subgrid';

  .mod {
    --uno: 'col-start-3 col-span-3';
  }

  :last-child {
    --uno: 'col-span-3 justify-self-end';
  }
}

table {
  --uno: 'mt-8 text-sm';
}

th {
  --uno: 'py-2 border-border-muted border-b text-left font-400';
}

td {
  --uno: 'py-2 border-border-muted border-y';
}

kbd {
  --uno: 'font-mono font-500 text-xs leading-none';
  --uno: 'inline-block bg-surface hover:bg-bg-muted rounded py-0.5 px-1 transition-colors duration-200';
  --uno: 'border-b-2 border-border border-x-1 border-t-1';
}

hr {
  --uno: 'border-t border-border border-dashed my-12';
}

div[data-layer] {
  --uno: 'fixed inset-0 pointer-events-none select-none z-0 no-js:hidden';
  animation: 1000ms scale;
  background-image: linear-gradient(
    oklch(var(--background)) 0%,
    transparent 2%,
    transparent 98%,
    oklch(var(--background)) 100%
  );

  &::before {
    --uno: 'content-empty fixed inset-0 h-2 bg-black/1 backdrop-blur-md';
    mask: linear-gradient(black, transparent);
    -webkit-mask: linear-gradient(black, transparent);
  }
}

/* 
 *
 *** Animation
 *
 */

@keyframes scale {
  from {
    transform: scaleY(120%);
  }
  to {
    transform: scaleY(100%);
  }
}

@keyframes slide {
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }

  100% {
    opacity: 100%;
    transform: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  main {
    animation: fade 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  }
}
