/* * {
  --uno: 'outline-0.2 outline-green/50 outline-solid';
} */

/* 
 * Base styles
 */

html {
  --uno: 'bg-screen antialiased';
  --uno: 'min-h-100vh';
}

::selection {
  --uno: 'bg-selection text-selection';
}

/* Top and bottom decorative layer */
div[data-layer] {
  --uno: 'fixed inset-0 pointer-events-none select-none z-20';

  contain: layout style paint;
  isolation: isolate;

  --gradient-color: var(--colors-radix-sage-1);

  background-image: linear-gradient(
    to bottom,
    var(--gradient-color),
    transparent 0.5rem,
    transparent calc(100% - 1.5rem),
    var(--gradient-color) 100%
  );

  @media (prefers-color-scheme: dark) {
    --gradient-color: var(--colors-radix-dark-sage-1);
  }

  /* Blur effect */
  &::before {
    --uno: 'content-empty fixed inset-0 h-16 lt-md:h-5';
    --uno: 'backdrop-blur-xs';

    -webkit-mask: linear-gradient(to bottom, black 20%, transparent);
    mask: linear-gradient(to bottom, black 20%, transparent);

    will-change: backdrop-filter;

    /* Exluding webkit */
    @supports (backdrop-filter: blur(1px)) {
      --un-backdrop-brightness: brightness(130%);
    }
  }
}

body {
  --uno: 'min-h-100vh';
  --uno: 'text-primary text-3.5 leading-5 font-sans opacity-100';
  --uno: 'p-4 md:(px-10 py-9)';

  /* Main grid layouts */
  --uno: 'grid grid-cols-6 lg:grid-cols-12 gap-x-4 items-baseline';

  /* Avoid stretching of header and main when page height is not over 100vh */
  grid-template-rows: min-content min-content;

  word-spacing: -0.01em;
  letter-spacing: -0.02em;
  text-rendering: optimizeLegibility;
}

main {
  /* Subgrid */
  --uno: 'span-full md:(grid-subgrid)';

  > :not(article) {
    --uno: 'start-1 span-4';
  }

  /* Subgrid */
  > article {
    --uno: 'span-full md:(grid-subgrid)';
    --uno: 'md:children:(start-1 span-5)';
    --uno: 'lg:children:(start-1 span-6)';
  }
}

h1 {
  --uno: 'font-medium text-4 leading-6';
}

table {
  --uno: 'mt-8 text-sm';
}

th {
  --uno: 'py-2 border-neutral border-b text-left font-400';
}

td {
  --uno: 'py-2 border-neutral border-y';
}

kbd {
  --uno: 'font-mono font-500 text-xs leading-none';
  --uno: 'inline-block bg-surface hover:bg-bg-muted rounded py-0.5 px-1 transition-colors duration-200';
  --uno: 'border-b-2 border-neutral border-x-1 border-t-1';
}

hr {
  --uno: 'border-t border-neutral border-dashed my-16';
}

img {
  --uno: 'bg-surface';
}

button {
  --uno: 'bg-transparent underline p-0 w-fit';
  --uno: 'hover:(bg-bg-muted underline-border)';
}

/*
 * Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  --uno: 'text-primary';

  /* Heading with id */
  &[id] {
    scroll-margin-top: 80px;
    --uno: 'relative';

    /* The anchor link */
    a[aria-hidden] {
      --uno: 'opacity-0 underline-transparent select-none text-tertiary';
      --uno: 'absolute left-0 px-1 -ml-4.5';
    }
  }

  &[id]:hover {
    a[aria-hidden] {
      --uno: 'opacity-100 hover:text-primary';
    }
  }
}

/* Link */
a:not(.reset) {
  --uno: 'transition-color transition-200 ease-out underline underline-dotted decoration-dotted decoration-2 w-fit rounded-0.5';
  --uno: 'hover:(bg-screen-hover text-primary underline-dotted-hover decoration-solid decoration-1px)';
  --uno: 'focus:(bg-screen-hover text-primary underline-dotted-hover decoration-solid decoration-1px)';
  --uno: 'active:(bg-surface)';

  /* Arrow after external link */
  &[href^='http']::after,
  &[href^='mailto']::after {
    --uno: 'content-empty i-tabler:arrow-up-right size-0.75em text-secondary align-text-top';
  }

  &[href^='http']:hover::after,
  &[href^='mailto']:hover::after {
    --uno: 'text-primary';
  }
}

strong {
  --uno: 'text-primary font-medium';
}

code {
  --uno: 'font-mono text-0.75em font-medium';
}

:not(pre) > code {
  --uno: 'bg-surface rounded p-px mx-0.5';

  &::before,
  &::after {
    content: '`';
    --uno: 'text-secondary';
  }
}

em:not(:has(> code)) {
  --uno: 'font-serif text-1.16em';
}

blockquote {
  --uno: 'italic border-neutral border-l-2 pl-4 py-1 my-8';
}

/* 
 *
 *** Animation
 *
 */

@keyframes scale {
  from {
    transform: scaleY(200%);
  }
  to {
    transform: scaleY(100%);
  }
}

@keyframes slide {
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }

  100% {
    opacity: 100%;
    transform: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
