@import './theme.css';
@import './prose.css';
@import './type.css';

/* * {
  --uno: 'outline-0.2 outline-green/10 outline-solid';
} */

/* 
 * Base styles
 */

html {
  --uno: 'bg-bg antialiased';
  --uno: 'min-h-100vh';
}

::selection {
  color: oklch(var(--on-select));
  background-color: oklch(var(--select));
}

body {
  --uno: 'min-h-100vh';
  --uno: 'text-fg text-3.75 leading-6.5 font-sans';
  --uno: 'p-3 md:p-4';

  /* Main grid layouts */
  --uno: 'grid grid-cols-12 gap-x-4 items-baseline';

  /* Avoid stretching of header and main when not over 100vh */
  grid-template-rows: min-content min-content;

  word-spacing: -0.02em;
  letter-spacing: -0.005em;
  text-rendering: optimizeLegibility;
}

main {
  /* Subgrid */
  --uno: 'col-span-full md:(grid grid-cols-subgrid) mb-20 md:mb-30';

  > :not(article) {
    --uno: 'col-start-4 col-span-4';
  }

  /* Subgrid */
  > article {
    --uno: 'col-span-full md:(grid grid-cols-subgrid items-baseline)';
    --uno: 'md:children:(col-start-4 col-span-5)';
    --uno: 'lg:children:(col-start-4 col-span-4)';
  }

  /* If only heading precedes */
  > :is(h1) + article {
    --uno: 'row-start-1';
  }

  > h1 {
    --uno: 'font-serif italic text-lg lt-md:mb-8 md:(col-start-1 col-span-3 row-start-1 z-2)';
  }
}

table {
  --uno: 'mt-8 text-sm';
}

th {
  --uno: 'py-2 border-border-muted border-b text-left font-400';
}

td {
  --uno: 'py-2 border-border-muted border-y';
}

kbd {
  --uno: 'font-mono font-500 text-xs leading-none';
  --uno: 'inline-block bg-surface hover:bg-bg-muted rounded py-0.5 px-1 transition-colors duration-200';
  --uno: 'border-b-2 border-border border-x-1 border-t-1';
}

hr {
  --uno: 'border-t border-border border-dashed my-16';
}

img {
  --uno: 'bg-surface';
}

button {
  --uno: 'bg-transparent underline p-0 w-fit';
  --uno: 'hover:(bg-bg-muted underline-border)';
}

/* Top and bottom decorative layer */
div[data-layer] {
  --uno: 'fixed inset-0 pointer-events-none select-none z-5';
  animation: 1000ms scale;
  background-image: linear-gradient(
    to bottom,
    oklch(var(--background)),
    transparent 3rem,
    transparent calc(100% - 1rem),
    oklch(var(--background)) 100%
  );

  /* Blur effect */
  &::before {
    --uno: 'content-empty fixed inset-0 lt-sm:h-20 h-28 bg-black/1 backdrop-blur-sm filter-brightness-110 dark:filter-brightness-80';
    mask: linear-gradient(to bottom, black 40%, transparent);
    -webkit-mask: linear-gradient(to bottom, black 40%, transparent);
  }
}

/* 
 *
 *** Animation
 *
 */

@keyframes scale {
  from {
    transform: scaleY(120%);
  }
  to {
    transform: scaleY(100%);
  }
}

@keyframes slide {
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }

  100% {
    opacity: 100%;
    transform: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
