/*
 * Prose
 * Add to <article> and .prose
 */

main {
  article,
  .prose {
    *:first-child {
      --uno: 'mt-0';
    }

    /* Paragraph */
    p {
      --uno: 'mt-4 lt-sm:mt-3';
    }

    /* Heading */
    h1 {
      --uno: 'font-serif font-450 lt-md:mb-6 md:(col-start-1 col-span-2)';
      --uno: 'not-first:(mt-20 lt-sm:mt-8)';
    }

    h2 {
      --uno: 'mt-16 lt-sm:mt-10';
    }

    h3 {
      --uno: 'mt-8 lt-sm:mt-8';
    }

    h4 {
      --uno: 'mt-8 lt-sm:mt-6';
    }

    h5,
    h6 {
      --uno: 'mt-6 lt-sm:mt-4';
    }

    :is(h1, h2, h3, h4, h5, h6) + * {
      --uno: 'mt-2';
    }

    /* List */
    ul,
    ol {
      --uno: 'mt-4';

      li {
        --uno: 'pl-1 -ml-1';
        --uno: 'lt-sm:list-inside marker:(text-base text-fg-subtle)';

        &::marker {
          --uno: 'text-fg-muted';
        }
      }
    }

    ul li {
      list-style-type: '- ';
    }

    ol li {
      list-style-type: decimal;
    }

    /* Definition List */
    dl {
      --uno: 'mt-4 grid grid-cols-4 md:grid-cols-subgrid gap-0 relative col-start-4 col-span-5';

      dt {
        --uno: 'col-start-1 border-border-muted text-fg-muted';
      }

      dd {
        --uno: 'col-start-2 col-end--1 border-border-muted';
      }

      /* Definition followed by term */
      & dd:has(+ dt) {
        --uno: 'border-b pb-2';
      }

      /* In-between terms */
      & dd + dt {
        --uno: 'border-t pt-2';
      }

      /* First term */
      & dt:first-of-type {
        --uno: 'pt-2';
      }

      /* Definition following term */
      & dt + dd {
        --uno: 'pt-2';
      }
    }

    /* Image, Video */
    figure,
    videoplayer {
      --uno: 'my-8 md:my-18';
      --uno: 'md:(col-start-4 col-span-6)';

      &:has(+ figure, + videoplayer) {
        --uno: 'mb-0';
      }

      & + figure,
      & + videoplayer {
        --uno: 'mt-6';
      }

      &.narrow {
        --uno: 'md:(col-start-4 col-span-4)';
      }

      &.full {
        --uno: 'md:(col-start-1 col-span-full)';
      }

      &.grid {
        --uno: 'md:(col-span-3 self-end mt-0 mb-6)';
      }

      /* Note: grid items need to be mulitple of three, todo: fix it */
      *:not(.grid) + &.grid,
      &:nth-child(3n + 1 of .grid) {
        --uno: 'md:(col-start-4)';
      }

      *:not(.grid) + &.grid {
        --uno: 'mt-8';
      }
    }

    hr {
      --uno: 'md:(col-start-4 col-span-full)';
    }

    :is(hr) + :is(p, h1, h2, h3, h4, h5, h6) {
      --uno: 'mt-0';
    }
  }
}

/*
 * Shiki
 */

.shiki {
  --uno: 'py-4 px-2 bg-surface rounded-2 border-1 border-border-muted mt-6 overflow-x-auto drop-shadow-sm';
  --uno: 'col-start-4 col-span-5 relative';

  counter-reset: line;

  code {
    --uno: 'block w-fit';
  }

  .line {
    --uno: 'last:hidden leading-5';
  }

  .line::before {
    counter-increment: line;
    content: counter(line);
    --uno: 'inline-block min-w-4 mr-4 text-fg-subtle text-right';
  }

  .highlighted {
    width: calc(100% + 1rem);
    --uno: '-mx-2 px-2 right-0 inline-block bg-bg-muted bg-opacity-60';
  }
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
