/*
 * Prose
 * Add to <article> and .prose
 */

article,
.prose {
  /* Reset first child */
  *:first-child {
    --uno: 'mt-0';
  }

  /* Paragraph */
  p {
    --uno: 'mt-6 lt-sm:mt-4';
  }

  p.callout {
    --uno: 'text-6 leading-8 lt-md:(text-5 leading-6)';
  }

  p.base {
    --uno: 'text-4 leading-6 lt-md:(text-3.5 leading-5.5)';
  }

  strong {
    --uno: 'font-medium bg-selection';
  }

  /* Heading */
  h1 {
    --uno: 'font-medium mt-20 lt-sm:mt-8';
  }

  h2 {
    --uno: 'text-secondary font-medium mt-16 lt-sm:mt-10';
  }

  h3 {
    --uno: 'text-secondary font-medium mt-8 lt-sm:mt-8';
  }

  h4 {
    --uno: 'text-secondary font-medium mt-8 lt-sm:mt-6';
  }

  h5,
  h6 {
    --uno: 'text-secondary font-medium mt-6 lt-sm:mt-4';
  }

  /* List */
  ul,
  ol {
    --uno: 'mt-4';

    li {
      --uno: 'list-outside';

      &::marker {
        --uno: 'text-tertiary';
      }
    }
  }

  ul li {
    list-style-type: '– ';
  }

  ol li {
    list-style-type: decimal;
  }

  /* Table */
  table {
    --uno: 'start-1 span-6';
  }

  /* Definition List */
  dl {
    --uno: 'mt-8 space-y-1 md:(grid-subgrid gap-0) relative start-1 span-6';

    dt {
      --uno: 'lt-md:mb-1 start-1 text-secondary';
    }

    dd {
      --uno: 'lt-md:mb-4 start-2 end--1';
    }
  }

  :is(h1, h2, h3, h4, h5, h6) + * {
    --uno: 'mt-0';
  }

  /* Image, Video */
  > :not(figure):has(+ figure) {
    --uno: 'mb-10 md:mb-12';
  }

  > figure {
    --uno: 'mt-4 md:mt-6';
  }

  > figure + :not(figure) {
    --uno: 'mt-10';
  }

  hr {
    --uno: 'start-1 span-full';
  }
}

/*
 * Shiki
 */

.shiki {
  --uno: 'py-2 px-1.5 bg-surface rounded-2 border-1 border-neutral mt-6 overflow-x-auto';
  --uno: 'start-1 span-6 relative';

  counter-reset: line;

  code {
    --uno: 'block w-fit';
  }

  .line {
    --uno: 'last:hidden';
  }

  .line::before {
    counter-increment: line;
    content: counter(line);
    --uno: 'inline-block min-w-1em mr-2 text-tertiary text-2.5 text-right';
  }

  .highlighted {
    width: calc(100% + 1rem);
    --uno: '-mx-2 px-2 right-0 inline-block bg-selection bg-opacity-70';
  }
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
