/*
 * Theme
 * Defined in oklch([definition])
 */

:root {
  --sans: AG, ui-sans-serif, sans-serif;
  --serif: Newsreader, Iowan Old Style, ui-serif, Charter, Georgia, serif;
  --mono: Azeret Mono, ui-monospace, monospace;

  --background: 100% 0 0;
  --background-muted: 96% 0 0;

  --foreground: 2% 0 0;
  --foreground-muted: 60% 0 0;
  --foreground-subtle: 80% 0 0;

  --surface: 98.5% 0 0;
  --surface-muted: 97.5% 0 0;

  --border: 85% 0 0;
  --border-muted: 94% 0 0;

  --underline: 76% 0 0;

  --primary: 63% 0.2 147;

  --select: 98% 0.05 152;
  --on-select: 48% 0.6 152;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --background: 2% 0 0;
    --background-muted: 24% 0 0;

    --foreground: 98% 0 0;
    --foreground-muted: 60% 0 0;
    --foreground-subtle: 56% 0 0;

    --surface: 18% 0 0;
    --surface-muted: 16% 0 0;

    --border: 36% 0 0;
    --border-muted: 26% 0 0;

    --underline: 56% 0 0;

    --primary: 93% 0.2 147;

    --select: 24% 0.14 152;
    --on-select: 80% 0.4 152;
  }
}

@font-face {
  font-family: 'AG';
  src: url('/fonts/AG57-Regular.woff2') format('woff2');
  font-style: normal italic;
  font-display: block;
  font-weight: 400;
}

@font-face {
  font-family: 'Newsreader';
  src: url('/fonts/Newsreader-Variable.woff2') format('woff2-variations');
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Newsreader';
  src: url('/fonts/Newsreader-Italic-Variable.woff2') format('woff2-variations');
  font-style: italic;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/fonts/AzeretMono-VariableFont_wght.woff2')
    format('woff2-variations');
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/fonts/AzeretMono-Italic-VariableFont_wght.woff2')
    format('woff2-variations');
  font-style: italic;
  font-display: block;
  font-weight: 100 900;
}
