/*
 * Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  --uno: 'text-fg';

  /* Heading with id */
  &[id] {
    scroll-margin-top: 80px;
    --uno: 'relative';

    /* The anchor link */
    a[aria-hidden] {
      --uno: 'opacity-0 text-0.9em leading-1.5em underline-transparent select-none';
      --uno: 'absolute left-0 px-1 -ml-4 top-1/2 -transform-translate-y-1/2';
    }
  }

  &[id]:hover {
    a[aria-hidden] {
      --uno: 'opacity-100';
    }
  }
}

a {
  --uno: 'transition-color transition-100 underline underline-underline decoration-1.4px w-fit';
  --uno: 'hover:(bg-bg-muted underline-border)';
  --uno: 'active:(bg-surface)';

  /* Arrow after <a> link */
  &[href^='http']::after,
  &[href^='mailto']::after {
    --uno: 'content-empty i-tabler:arrow-up-right size-2.5 align-text-top';
  }
}

strong {
  --uno: 'text-fg font-medium';
}

code {
  --uno: 'font-mono text-xs';
}

:not(pre) > code {
  --uno: 'bg-rx-gray-4 text-fg rounded p-px mx-0.5 shadow-sm';

  &::before,
  &::after {
    content: '`';
    --uno: 'text-fg-subtle';
  }
}

em:not(:has(> code)) {
  --uno: 'font-serif text-1.16em';
}

blockquote {
  --uno: 'italic border-border-muted border-l-2 pl-4 py-1 my-8';
}
