---
layout: layouts/base.njk
---

<article>
    <h1>
        <em>{{ title }}</em>
    </h1>
    {{ content | safe }}
    {% set pages = search.pages(tags | join('|') + ' url!=' + url ) %}
    {% if pages | length %}
        <h2>Related ({{ pages | length }})</h2>
        <nav>
            <ul>
                {% for p in pages %}
                    <li>
                        <div class="flex items-baseline">
                            {% if p.content | length %}
                                <a href="{{ p.url }}">{{ p.title | md | safe }}</a>
                            {% else %}
                                {{ p.title | md | safe }}
                            {% endif %}
                            <span class="ml-2 text-xs">(<a href="/{{ p.category }}">{{ p.category | capitalize }}</a>)</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</article>