@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Apfel;
    src: url('/fonts/ApfelGrotezk-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: block;
    font-weight: 400;
  }
  @font-face {
    font-family: Sato;
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
    font-style: normal;
    font-display: block;
    font-weight: 300 900;
  }
  @font-face {
    font-family: Sato;
    src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2');
    font-style: italic;
    font-display: block;
    font-weight: 300 900;
  }
  @font-face {
    font-family: Spectral;
    src: url('/fonts/spectral-italic.woff2') format('woff2');
    font-style: italic;
    font-display: block;
    font-weight: 400;
  }
  @font-face {
    font-family: Spectral;
    src: url('/fonts/spectral-regular.woff2') format('woff2');
    font-style: normal;
    font-display: block;
    font-weight: 400;
  }

  html {
    @apply max-w-[2400px];
  }

  body {
    @apply bg-gray-2 text-gray-12 dark:bg-grayDark-2 dark:text-grayDark-12 min-h-screen font-sato antialiased text-lg phone:text-base;
  }

  main {
    @apply px-16 tablet:px-10 phone:px-5 py-6;
  }

  h1 {
    @apply font-apfel font-normal text-3xl leading-8 text-indigo-12 dark:text-indigoDark-12;
  }

  h2 {
    @apply font-apfel font-normal text-2xl phone:text-xl;
  }

  h3 {
    @apply font-apfel font-normal text-xl phone:text-lg;
  }

  h4 {
    @apply font-apfel font-normal text-lg phone:text-base;
  }

  strong {
    @apply font-semibold;
  }

  ::selection {
    @apply bg-gray-5 dark:bg-grayDark-5;
  }
}

/* styles for prose */
@layer utilities {
  .prose {
    @apply body-font-settings text-lg phone:text-base leading-8;
  }

  .prose :not(section, blockquote *, [data-image], [data-carousel], [data-carousel] *) {
    max-width: 40ch;
  }

  .prose p {
    @apply mt-6 phone:mt-4;
  }

  .prose h2 {
    @apply text-indigo-12 dark:text-indigoDark-12 py-4 mt-8 phone:py-2 phone:mt-4;
  }

  .prose h3 {
    @apply text-indigo-12 dark:text-indigoDark-12 py-2 mt-4 phone:py-1 phone:mt-3;
  }

  .prose a {
    @apply underline decoration-gray-9 dark:decoration-grayDark-9 rounded px-0.5 -mx-0.5 hover:bg-gray-3 dark:hover:bg-grayDark-3 hover:decoration-current dark:hover:decoration-current transition-all;
  }

  .prose blockquote {
    @apply italic font-spectral font-medium mt-10 py-0.5 relative before:absolute before:-left-5 phone:before:-left-3 before:top-0 before:h-full before:w-0.5 before:rounded before:bg-gray-6 dark:before:bg-grayDark-6;
    max-width: 50ch !important;
    font-feature-settings: 'sso3' off, 'ss02' off;
  }

  .prose blockquote * {
    @apply mt-0;
  }

  .prose ul,
  .prose ol {
    @apply mt-6 phone:mt-4 phone:pl-4;
  }

  .prose ul {
    @apply list-disc;
  }

  .prose ol {
    @apply list-decimal;
  }

  .prose li {
    @apply mb-1 marker:text-base marker:text-gray-11 marker:text-grayDark-11 marker:align-middle phone:marker:text-xs;
  }

  .prose [data-image] {
    @apply mt-10 rounded max-w-4xl;
  }

  .prose h2 + *,
  .prose h3 + * {
    @apply mt-0;
  }
}

@layer utilities {
  .micro {
    @apply max-w-[48ch];

    & p {
      @apply body-font-settings;
    }

    & p:not(:first-of-type) {
      @apply mt-4;
    }

    & ul,
    ol {
      @apply mt-2 phone:pl-2;
    }

    & ul {
      @apply list-disc;
    }

    & ol {
      @apply list-decimal;
    }

    & li {
      @apply mb-1 marker:text-base marker:text-gray-11 marker:text-grayDark-11 marker:align-middle phone:marker:text-xs;
    }

    & a {
      @apply underline decoration-gray-9 dark:decoration-grayDark-9 rounded px-0.5 -mx-0.5 hover:bg-gray-3 dark:hover:bg-grayDark-3 hover:decoration-current dark:hover:decoration-current transition-all;
    }

    & blockquote {
      @apply italic font-spectral font-medium my-4 py-0.5 relative before:absolute before:-left-3 phone:before:-left-2 before:top-0 before:h-full before:w-0.5 before:rounded before:bg-gray-6 dark:before:bg-grayDark-6;
      font-feature-settings: 'sso3' off, 'ss02' off;
    }

    & [data-image] {
      @apply my-6;
    }
  }
}

@import url(./custom-layout.css);
