@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Apfel;
    src: url('/fonts/ApfelGrotezk-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: block;
    font-weight: 400;
  }
  @font-face {
    font-family: Sato;
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
    font-style: normal;
    font-display: block;
    font-weight: 300 900;
  }
  @font-face {
    font-family: Sato;
    src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2');
    font-style: italic;
    font-display: block;
    font-weight: 300 900;
  }
  @font-face {
    font-family: Spectral;
    src: url('/fonts/spectral-italic.woff2') format('woff2');
    font-style: italic;
    font-display: block;
    font-weight: 400;
  }
  @font-face {
    font-family: Spectral;
    src: url('/fonts/spectral-regular.woff2') format('woff2');
    font-style: normal;
    font-display: block;
    font-weight: 400;
  }

  html {
    @apply bg-gray-2 text-gray-12 dark:bg-grayDark-2 dark:text-grayDark-12 max-w-[2400px];
  }

  body {
    @apply min-h-screen font-sato antialiased text-lg phone:text-base;
  }

  main {
    @apply px-16 tablet:px-10 phone:px-5 py-6;
  }

  h1 {
    @apply font-apfel font-normal text-3xl leading-8 text-indigo-12 dark:text-indigoDark-12;
  }

  h2 {
    @apply font-apfel font-normal text-2xl phone:text-xl;
  }

  h3 {
    @apply font-apfel font-normal text-xl phone:text-lg;
  }

  h4 {
    @apply font-apfel font-normal text-lg phone:text-base;
  }

  ::selection {
    @apply bg-gray-5 dark:bg-grayDark-5;
  }
}

@import url(./custom-layout.css);
@import url(./words-base.css);
