<p class="text-fg-subtle col-start-2 col-span-1">{{ arr | length }} entries</p>
<ul class="grid grid-cols-subgrid col-end--1">
    {% for item in arr %}
        <li class="py-8 md:py-10 md:first:pt-0 last:pb-0 col-span-full grid grid-cols-subgrid border-border-muted not-last:border-b">
            <header
                class="col-span-2 flex flex-col mb-4">
                {# attr if has content, otherwise plain text #}
                {% if item.content | length %}
                    <a class="decoration-none" href="{{ item.url }}">{{ item.title | md | safe }}
                    </a>
                {% else %}
                    {{ item.title | md | safe }}
                {% endif %}
                <time class="text-fg-subtle">
                    {{ item.date | fmtDate(formatDate) }}</time>
            </header>
            <div class="col-span-3">
                <p>{{ item.description | md | safe }}</p>
                <div class="flex gap-6 children:mt-4 md:children:mt-6">
                    {% if item.content | length %}
                        <a href="{{ item.url }}">Continue reading</a>
                    {% endif %}
                    {% if item.links | length %}
                        {% for link in item.links %}
                            {{ link | md | safe }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>